# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
dist/
*.tsbuildinfo

# Environment variables
.env
/src/config/config.json

# Logs
logs/
*.log

# PostgreSQL
*.sql
*.sqlite

# IDE 
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Build output
build/